* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

.header {
    text-align: center;
    justify-content: center;
    justify-content: center;
    padding: 1rem 0;
    /* position: fixed; */
    /* width: 100%; */
}

.header p {
    font-size: 2rem;
}

.header p a {
    text-decoration: none;
    color: inherit;
}

.content {
    align-items: center;
    padding: 5rem 0;
    position: absolute;
}

form {
    border: 1px solid #eee;
    padding: 10rem 2rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.dob {
    display: flex;
}

.dob input {
    width: 60%;
    padding: .4rem 0;
    margin: 0 .3rem;
}