* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    color: #fff;
}

.wrapper {
    background-attachment: fixed;
    background-image: url(../images/bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    padding: 3rem 0;
    text-align: center;
}

header p {
    font-size: 2rem;
    color: #fff;
}

header p a {
    text-decoration: none;
    color: #fff;
}

header p a:hover {
    color: #fff;
}

.main-content {
    padding: 3.5rem 0;
}

.main-content h1 {
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: .2rem;
}

.main-content p {
    font-size: 1.3rem;
    font-weight: 250;
    line-height: 2.5rem;
}

#fill-check {
    font-weight: 300;
}

#fill-check::after {
    content: " -- >";
    margin-left: .6rem;
    cursor: pointer;
    font-size: 2rem;
}

#fill-check:hover {
    opacity: .4;
}

form {
    background-color: rgba(60, 60, 60, 0.3);
    padding: 4rem 0;
    /* text-align: center; */
}

form h3 {
    text-align: center;
    font-size: 2rem;
}

input {
    margin: 1rem .5rem;
    width: 100%;
    padding: .5rem;
    outline: none;
    background: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: .2rem;
    border: 2px solid #fff;
}

input::placeholder {
    color: #fff;
}

.form-group {
    width: 100%;
    padding: 1rem 0 1rem .5rem;
}

label {
    font-size: 1.3rem;
    margin: 0 .4rem 0 .1rem;
}

select {
    cursor: pointer;
    width: 180px;
    padding: .5rem 0;
}

button {
    width: 100%;
    padding: .7rem 4rem;
    align-items: center;
    font-size: 1.2rem;
    border: none;
}

button i {
    font-size: 1.2rem;
    margin-right: .5rem;
}